:root {
  --background-color: #0E2954;
  --border-color: rgba(255, 255, 255, 0.1);
  --font-color: #EEEEEE;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  margin: 0px;
  overflow: hidden;
  user-select: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, a, p, span {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--font-color);
}

h1 {
  font-size: 48px;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

nav {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

nav > .nav-section {
  padding: 1rem 2rem;
  display: flex;
  gap: 1rem;
  border-left: 1px solid var(--border-color);
  align-items: center;
  justify-content: center;
}

#nav-logo-section {
  flex-basis: calc(100% / 3);
  justify-content: flex-start;
}

#nav-logo-section > a > span {
  font-size: 2rem;
}

#nav-link-section {
  flex-basis: 50%;
  gap: 6rem;
  justify-content: flex-start;
}

main {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

main > article {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 8fr 4fr 1fr;
  border: 3px solid;
}

main > article > .article-intro-section {
  border: 1px solid;
  padding: 8rem 6rem;
}

main > article > .article-right-section {
  border: 1px solid;
  padding: 8rem 6rem;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: relative;
  left: 50%;
  top: 20%;
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.map-container {
  width: 100%;
  height: 100%;
}

.mercy-style {
  width: 250px;
  clip-path: circle();
}
